body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family:"Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;

}


.pimg1, .pimg2, .pimg3, .pimg4 {
    position: relative;
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg1 {
    background-image:url('https://raw.githubusercontent.com/digitalents-academy/hopeanuoli/main/parallaxImages/pimg1.jpg');
    min-height: 100%;
}

.pimg2 {
    background-image:url("https://raw.githubusercontent.com/digitalents-academy/hopeanuoli/main/parallaxImages/pimg2.jpg");
    min-height: 400px;
}

.pimg3 {
    background-image:url("https://raw.githubusercontent.com/digitalents-academy/hopeanuoli/main/parallaxImages/pimg3.jpg");
    min-height: 400px;
}

.pimg4 {
    background-image:url("https://raw.githubusercontent.com/digitalents-academy/hopeanuoli/main/parallaxImages/pimg4.jpg");
    min-height: 700px;

}

.section {
    text-align: center;
    padding: 50px 80px;
    background-color: lightpink;

}

section.light {
    background-color: #f4f4f4;
    color: #666;
}


.border {
    text-align: center;
    font-size: 40px;
    color: white;
}

.ptext {
    text-align: center;
}


#otsikko {
    font-family: 'Sniglet', cursive;
    font-size: 75px;

}

#otsikkoalateksti {
    font-family: 'Sniglet', cursive;

}

.kappaleotsikko {
    font-family: 'Sniglet', cursive;
    font-size: 40px;
    color: #2c1200;
}

.kappaleväri {
    color: #2c1200;
}


.topnav {
    overflow: hidden;
    background-color: rgb(255, 232, 225);
    position: relative;
  }
  

.topnav #myLinks {
    display: none;
  }
  

.topnav a {
    color: #2c1200;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    font-family: 'Sniglet', cursive;
  }
  

.topnav a.icon {
    background: peachpuff;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  

.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  

.active {
    background-color: lightpink;
    color: white;
  }
